{
  "env": {
    "browser": false,
    "commonjs": false,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "chai-expect"
  ],
  "extends": [
    "eslint:recommended",
    "eslint-config-semistandard"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "globals": {
    "wx": "readonly",
    "getApp": "readonly",
    "requirePlugin": "readonly",
    "App": "readonly",
    "Page": "readonly",
    "getCurrentPages": "readonly"
  }
}
